@model IEnumerable<InfnetMVC.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<br />
<div>
    <h1 class="text-center h2">Departamentos</h1>
</div>

<p>
    <a class="btn btn-success" asp-action="Create">Criar novo</a>
</p>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th class="text-center">Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-outline-dark btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
