@model IEnumerable<InfnetMVC.Models.Funcionario>

@{
    ViewData["Title"] = "Search";
}
<br />
<div>
    <h1 class="text-center h2">Funcionários</h1>
    <h2 class="text-center h4">Resultado busca por nome</h2>
</div>

<p>
    <a class="btn btn-success" asp-action="Create">Criar novo</a>
</p>
<table class="table table-bordered ">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Data de nascimento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            
            <th class="text-center">Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Nome)
                -
                @Html.DisplayFor(modelItem => item.Departamento.Local)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-outline-dark btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
